/* 
  The only global CSS we need after Tailwind.
  Should probably move it elsewhere.
*/

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  text-align: left;
}